<%= form_tag 'http://us6.api.mailchimp.com/1.3/?method=listSubscribe', :remote => true, :id => 'subscribe' do %>
    <div class='title'>Join our Mailing List!</div>
    <p>
      <b> <%# label_tag 'Email Address' %></b> <%= text_field_tag 'email_address', nil, :size => 70, :value=>'Enter your email address', :onfocus => '(this.value == "Enter your email address") ? this.value = "" : ""' %>
      <!--
      <b> <%= label_tag 'First Name' %></b> <%= text_field_tag 'merge_vars[FNAME]', nil, :maxlength => 20, :size => 10 %>
      <b> <%= label_tag 'Last Name' %></b> <%= text_field_tag 'merge_vars[LNAME]', nil, :maxlength => 20, :size => 10%>
      -->
    </p>

    <%= hidden_field_tag :apikey, '74af75263f66462744dad8521db3a52e-us6' %>
    <%= hidden_field_tag :id, '7e99cdfb48' %>
    <%= hidden_field_tag :output, 'json' %>
    <p class="button"><%= submit_tag "  Join  ", :id => "subscribe_button" , :onclick=>"javascript:subscribe()"%></p>

<% end %>
<div id="subscription_complete">
  <h1>Thank you for subscribing!</h1>
  <p>A verification mail has been sent to your mailbox. Please confirm it to complete subscription.</p>
</div>
