<% first=true %>
    <% @pages.each do |p| %>
    <div id='<%=p.name.downcase%>' class='page <%=first ? 'active' : ''%>'>
      <img class="name" src="assets/tag_<%=p.name.downcase%>.png"/>
      <!--<div class="name"><%=p.name%></div>-->
      <%=raw p.content%>
   </div>
   <% first=false %>
<% end %>