<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= yield(:css) if content_for?(:css) %>
  <%= javascript_include_tag "application" %>
  <!--<script src="//unslider.com/unslider.min.js"></script>-->
  <%= yield(:head_js) if content_for?(:head_js) %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div id="bg" class="container"></div>
<div id="wrapper" class="container">
    <div id="banner" class="container" style="background-image:url('assets/banner/<%=%w(1 2 3).sample%>.jpg')">
      <!--<ul class="banner">-->
        <!--<li class="banner" style="background-image:url('assets/banner/1.jpg')"></li>-->
        <!--<li class="banner" style="background-image:url('assets/banner/2.jpg')"></li>-->
        <!--<li class="banner" style="background-image:url('assets/banner/3.jpg')"></li>-->
      <!--</ul>-->
    </div>
    <div id="sidebar" class="container">
        <%= render 'layouts/sidebar' %>
    </div>
    <div id="content" class="container">
      <%= render 'layouts/header' %>
      <div id="page" class="container">
        <%= yield %>
      </div>
      <%# debug(params) if Rails.env.development? %>
    </div>
</div>
<%= yield(:body_js) if content_for?(:body_js) %>
</body>
</html>
